.top-bg {
    background-image: url('../../../public/images/bg/pink/bg-1440-pink.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 2001px) {
    .top-bg {
        background-image: url('../../../public/images/bg/pink/bg-2560-pink.png');
    }
}

@media (min-width: 1500px) and (max-width: 2000px) {
    .top-bg {
        background-image: url('../../../public/images/bg/pink/bg-1920-pink.png');
    }
}

@media only screen and (max-width: 1024px) {
    .top-bg {
        background-image: url('../../../public/images/bg/pink/bg-744-pink.png');
    }
}

@media only screen and (max-width: 700px) {
    .top-bg {
        background-image: url('../../../public/images/bg/pink/bg-375-pink.png');
    }
}